<ng-container *ngIf="transportState$ | async as transport">
    <button (click)="play()">{{transport.playstate ? '⏸ PAUSE' : '▶️ PLAY'}}</button>
    <button (click)="addAction()">➕ ADD ACTION</button>
</ng-container>

<nav>
    <ul>
        <li>
            <a routerLink="/">HOME</a>
        </li>
        <li>
            <a routerLink="/actions">ACTIONS</a>
        </li>
        <li *ngIf="trackCount$ | async as trackCount">
            <a routerLink="/tracks">TRACKS ({{trackCount}})</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>
