<ng-container *ngIf="track$ | async as track; else placeholder;">
    <mat-card [style.background]="track.color"
              [class.is-dark]="isTrackDark(track)"
              class="track">
        <mat-card-header>
            <div mat-card-avatar
                 [class.selected]="track.isSelected">
                <span class="track-number">{{ track.tracknumber }}</span>
            </div>
            <mat-card-title>{{ track.trackname }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions>
            <button mat-button
                    (click)="toggleMute(track)">
                <mat-icon>{{ track.isMuted ? 'volume_off' : 'volume_up'}}</mat-icon>
            </button>
            <button mat-button
                    (click)="toggleRecordArm(track)">
                <mat-icon>{{ track.isRecordArmed ? 'radio_button_checked' : 'radio_button_unchecked'}}</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>
<ng-template #placeholder>
    <mat-card class="track"
              style="height: 76px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
</ng-template>
